<h2>Mes opérations</h2>
<section>
    <ul>
        <li *ngFor="let item of opes">{{'description : ' + item.description + ' ' + 'montant : ' +item.montant + ' date : ' + item.date }}</li>
    </ul>
</section>
<h2> Nouvelle opération</h2>
<section>
    <p>
        <label for="montant">montant</label>
        <input type="number" [(ngModel)]="montant">
    </p>
    <p>
        <label for="description">description</label>
        <input type="text" [(ngModel)]='description'>
    </p>

    <button (click)="afficher()">Afficher</button>
    <button (click)="ajouter()">Ajouter</button>



</section>

<!-- <p>Votre solde : {{solde}}</p> -->