<section>
    <h2> Nouveau virement</h2>
    <p>
        <label for="montant">montant</label>
        <input type="number" [(ngModel)]="virmontant">
    </p>
    <p>
        <label for="description">description</label>
        <input type="text" [(ngModel)]='virdescription'>
    </p>

    <button (click)="ajoutDep(); getSolde();">Ajouter</button>
</section>
<section>
    <h2>Nouveau retrait</h2>
    <p>
        <label for="montant">montant</label>
        <input type="number" [(ngModel)]="retmontant">
    </p>
    <p>
        <label for="description">description</label>
        <input type="text" [(ngModel)]='retdescription'>
    </p>
    <button (click)="ajoutRetr(); getSolde()">Retrait</button>
</section>


<section>
    <h2>Mon solde</h2>
    <p> {{solde}} €</p>
</section>

<section>
    <h2>Mes dépôts</h2>
    <ul>
        <li *ngFor="let item of depots; index as clef">
            {{'description : ' + item.description + ' ' + 'montant : ' +item.montant + ' date : ' + item.date }}
            <button (click)="suppDep(clef)">Supprimer</button>
            <button>Modifier</button>
        </li>

    </ul>

</section>

<section>
    <h2>Mes retraits</h2>
    <ul>
        <li *ngFor="let item of retraits; index as clef">
            {{'description : ' + item.description + ' ' + 'montant : ' +item.montant + ' date : ' + item.date }}
            <button (click)="suppRetr(clef)">Supprimer</button>
            <button>Modifier</button>
        </li>

    </ul>

</section>